@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.cardWrapper {
    border-radius: 16px;
border: 1px solid var(--Border-Blue, #D9E4F1);
background: var(--White, #FFF);
box-shadow: 0px 4px 43px 0px rgba(239, 238, 238, 0.43);
padding: 25px;
font-family: "Montserrat", sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.cards{
    height: 320px;
    overflow-y: auto;
}

.cards::-webkit-scrollbar {

    width: 7px; /* Width of the scrollbar */


    /* border-radius: 10000px;
    background: var(--Blue-Grey, #D5DBE0); */


}

.cards::-webkit-scrollbar-track {
    /* background: #f1f1f1;  */
    /* Color of the scrollbar track */
}

.cards::-webkit-scrollbar-thumb {
    background: var(--Blue-Grey, #D5DBE0);/* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners of the scrollbar thumb */
}

.cards::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}